{% extends 'base_no_card.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-购物车{% endblock title %}
{% block word %}购物车{% endblock word %}
{% block body %}
	<div class="total_count">全部商品<em>{{ total_count }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
<form method="post" action="/order/place">
    {% for sku in skus %}
	    <ul class="cart_list_td clearfix">

            <li class="col01"><input type="checkbox" name="sku_ids" value="{{ sku.id }}" checked></li>
            <li class="col02"><img src="{{ sku.image.url }}"></li>
            <li class="col03">{{ sku.name }}<br><em>{{ sku.price }}元/{{ sku.unite }}</em></li>
            <li class="col04">{{ sku.unite }}</li>
            <li class="col05">{{ sku.price }}元</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" class="add fl">+</a>
                    <input type="text" sku_id="{{ sku.id }}" class="num_show fl" value="{{ sku.count }}">
                    <a href="javascript:;" class="minus fl">-</a>
                </div>
            </li>
            <li class="col07">{{ sku.amount }}元</li>
            <li class="col08"><a href="javascript:;">删除</a></li>
	    </ul>
    {% endfor %}
	

	<ul class="settlements">
        {% csrf_token %}
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>{{ total_amount }}</em><br>共计<b>{{ total_count }}</b>件商品</li>
		<li class="col04"><input type="submit" value="去结算"></li>
	</ul>
</form>
{% endblock body %}
{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        // 计算总计和合计
        function update_page_info() {
            total_amount = 0
            total_count = 0
            $('.cart_list_td').find(':checked').parents('ul').each(function () {
                amount = $(this).children('.col07').text()
                count = $(this).find('.num_show').val()
                total_amount += parseFloat(amount)
                total_count += parseInt(count)
            })
            $('.settlements').find('em').text(total_amount.toFixed(2))
            $('.settlements').find('b').text(total_count)
        }

        // 全选或不全选的功能
        $('.settlements').find(':checkbox').change(function () {
            is_checkbox = $(this).prop('checked')
            $('.cart_list_td').find(':checkbox').each(function () {
                $(this).prop('checked', is_checkbox)
            })
            update_page_info()
        })

        // 当购物车中的checkbox未全选时
        $('.cart_list_td').find(':checkbox').change(function () {
            all_len = $('.cart_list_td').length
            checked_len = $('.cart_list_td').find(':checked').length
            is_checked = true

            if (checked_len < all_len) {
                is_checked = false
            }

            $('.settlements').find(':checkbox').prop('checked', is_checked)
            update_page_info()
        })

        // 更改购物车小计
        function cart_update_amount (sku_ul) {
            count = sku_ul.find('.num_show').val()
            price = sku_ul.children('.col05').text()
            price = parseFloat(price)
            count = parseInt(count)
            amount = count*price
            sku_ul.children('.col07').text(amount.toFixed(2)+'元')
        }

        // 更改购物车数量函数
        function cart_update_page_info(count, sku_id) {
            csrf = $('input[name="csrfmiddlewaretoken"]').val()
            params = {'count': count, 'sku_id': sku_id, 'csrfmiddlewaretoken': csrf}
            $.ajaxSettings.async = false
            $.post('/cart/update', params, function (data) {
                if (data.res == 5) {
                    total = data.total
                    $('.total_count').children('em').text(total)
                    error_update = false
                }
                else{
                    error_update = true
                    alert(data.res)
                }
            })
            $.ajaxSettings.async = true
        }

        // 获取输入前的数量
        before_count = 0
        $('.num_show').focus(function () {
            before_count = $(this).val()
        })


        // 当在购物车中修改数量
        $('.add').click(function () {
            count = $(this).next().val()
            count = parseInt(count)+1
            $(this).parents('ul').find('.num_show').val(count)
            sku_id = $(this).parents('ul').find('.num_show').attr('sku_id')
            sku_ul = $(this).parents('ul')
            cart_update_page_info(count, sku_id)
            cart_update_amount(sku_ul)
            is_checked = sku_ul.children('.col01').find(':checkbox').prop('checked')
            if (is_checked) {
                update_page_info()
            }
        })

        $('.minus').click(function () {
            count = $(this).prev().val()
            count = parseInt(count)-1
            if (count<1) {
                return
            }
            $(this).parents('ul').find('.num_show').val(count)
            sku_id = $(this).parents('ul').find('.num_show').attr('sku_id')
            sku_ul = $(this).parents('ul')
            cart_update_page_info(count, sku_id)
            cart_update_amount(sku_ul)
            is_checked = sku_ul.children('.col01').find(':checkbox').prop('checked')
            if (is_checked) {
                update_page_info()
            }
        })


        $('.num_show').blur(function () {
            count = $(this).val()
            sku_ul = $(this).parents('ul')
            if (isNaN(count) || count.trim().length==0 || parseInt(count)<0 ) {
                $(this).val(before_count)
                return
            }
            count = parseInt(count)
            $(this).parents('ul').find('.num_show').val(count)
            sku_id = $(this).parents('ul').find('.num_show').attr('sku_id')

            cart_update_page_info(count, sku_id)
            if (error_update) {
                $(this).val(before_count)
            }
            cart_update_amount(sku_ul)
            is_checked = sku_ul.children('.col01').find(':checkbox').prop('checked')
            if (is_checked) {
                update_page_info()
            }
        })

        // 点击删除后
        $('.cart_list_td').children('.col08').children('a').click(function () {
            sku_id = $(this).parents('ul').find('.num_show').attr('sku_id')
            csrf = $('input[name="csrfmiddlewaretoken"]').val()
            params = {'sku_id': sku_id, 'csrfmiddlewaretoken': csrf}
            sku_ul = $(this).parents('ul')
            $.post('/cart/delete', params, function (data) {
                if (data.res==2) {
                    sku_ul.remove()
                    is_checked = sku_ul.find(':checkbox').prop('checked')
                    if (is_checked) {
                        update_page_info()
                    }
                $('.total_count').children('em').text(data.total)
                }
                else{
                    alert(data.errmsg)
                }
            })
        })





    </script>
{% endblock bottomfiles %}